*{
  /* para excluir a margem padrão do navegador e padding */
  margin: 0;
  padding: 0;

  box-sizing: border-box;

}
/* a raiz do projeto */
/* o modo padrão é escuro */
:root{
  --text-color: white;  /* --infomando que tudo que for usado essa variavel vai ter essa cor, para utilizar basta inserir dessa forma no lugar da cor: var(--text-color) (variaveis) */
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255,255, 255, 0.5);
  --surface-color: rgba(255,255, 255, 0.05);
  --surface-color-hover: rgba(255,255, 255, 0.02);
  --higlight-color: rgba(255,255, 255, 0.2);
  --switch-bg-url: url(./assets/moon-stars.svg);
}
/* para deixar no modo claro (variaveis)*/
.light{
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.1);
  --higlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(./assets/sun.svg);
}


body{
  /*
  background-image: url(./assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position:top center;
  background-size: cover;
  */
  /*backgroud: Color image repeat position/size*/
  background: var(--bg-url) no-repeat top center/cover;
  height: 100vh;

}

body *{
  font-family: "Inter", serif;
  color: var(--text-color);  /*para utilizar a configuração root que está acima */
}


#container{
  width: 100%;
  max-width: 588px;
   /*height: 712px;      #no css não é necessario colocar a altura, pois normalmente segue o conteudo da pagina*/
  /* border: 1px, solid red;    #Foi somente para visualizar a dimessão para incluir o avatar e o arroba. */

  /*margin-right: auto;
  margin-left: auto;
  **Esses dois margin pode ser substituir por esse abaixo que tem a mesma função de centralizar o item com a mesma largura em ambas laterais*/
  margin: 56px auto 0px;
  padding: 0 24px;
}
/* profile */
#profile{
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;

}

#profile p {
    font-weight: 500;
    /* font-size: 16px;  É um valor padrão de 16px  em todo navegador, então não é necessario incluir  */
    line-height: 24px;
    margin-top: 8px;
}
/* swithc */
#switch{
  position: relative;
  width: 64px;

  margin: 4px auto;
}
#switch button{
  width: 32px;
  height: 32px;
  background: white  var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;

  /* configurando a posição */
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1 ;
  transform: translateY(-50%);
  animation: slide-back 0.2s;

}
.light #switch button{
   animation: slide-in 0.2s forwards; /*forwards mantem as propriendades do animation */

}
#switch button:hover{
  outline: 8px solid var(--higlight-color);
}


#switch span{
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid  var(--stroke-color);
  backdrop-filter: blur(4px);
   -webkit-backdrop-filter: blur(4px); /*filtro de ambaçamento */
  border-radius: 9999px;
}

/* links */
ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px; /* espaçamento entre os elementos */

  padding: 24px 0;
}

ul li a{
  display: flex;
  align-items:center ; /*centralizar o texto dentro do container */
  justify-content: center; /* deixa o texto no meio da pagina, essa mesma função pode ser realizada com o text-align:center*/
  padding: 16px 24px;

  background:var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  -webkit-backdrop-filter: blur(4px); /* filtro para embaçar */
  text-decoration: none;
  font-weight: 500;

  transition: background 0.2s;
}
/* pseudo-selector */
ul li a:hover{
  background: var(--surface-color-hover);
  border: 1px solid var(--text-color);

}

/* social links */
#social-links{
  display: flex;
  justify-content: center;

  padding: 24px;

  font-size: 24px;

}

#social-links a{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;

  transition: background 0.2s;
  border-radius: 50%;
}

#social-links a:hover{
  background: var(--higlight-color);
}

footer{
  text-align: center;
}

/* media queries */
@media(min-width: 700px){
  :root{
    --bg-url: url(./assets/bg-desktop.jpg);
  }
  .light{
    --bg-url: url(./assets/bg-desktop-light.jpg);
  }

}

/* animation */
@keyframes slide-in{
  /* animção do botão para o modo claro */
  from{
    left: 0;
  }
  to{
    left: 50%;
  }
}

@keyframes slide-back{
   /* animção do botão para o modo escuro */
  from{
    left: 50%;
  }
  to{
    left: 0;
  }
 }